.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}



.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.uploaded-image {
    max-width: 300px;
    height: auto;
    margin: 10px;
}