<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doodle Fusion</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='room.css')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='room.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='nav.js') }}"></script>
  </head>
  <body class="content">
    <h1 id="title" class="title-header">Doodle Fusion</h1>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      {% if current_user.role == "admin"%}
      <a href="{{url_for('admin.index')}}">Admin</a>
      {%endif%} {% if current_user.username %}
      <a href="{{url_for('profile')}}">Profile</a>
      {%endif%} {% if not current_user.username %}
      <a href="{{url_for('login')}}">Login</a>
      {%endif%}
      <a href="{{url_for('room')}}">Rooms</a>
      {% if current_user.username %}
      <a href="{{url_for('logout')}}">Logout</a>
      {% endif %}
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
