<link rel="stylesheet" href="{{url_for('static', filename='room.css')}}" />

{% extends "base.html"%}{% block content %}

<div id="room-interface">
  <div id="room-display">
    <h2 id="room-header">Chat and Draw Room: {{ code }}</h2>
    <canvas id="drawing-board" width="690" height="550"></canvas>
    <!-- Eraser toggle -->
    <div id="drawing-controls">
      <label for="eraser-toggle" class="eraser-toggle">Eraser</label>
      <input type="checkbox" id="eraser-toggle" />

      <!-- Line width -->
      <label for="line-width" class="line-width">Line Width:</label>
      <input
        type="range"
        id="line-width"
        min="1"
        max="20"
        value="2"
        class="slider"
      />

      <!-- Color picker -->
      <input type="color" id="color-picker" value="#000000" />

      <button id="download-btn" class="download-button">
        Download Drawing
      </button>

      <button id="leave-room-btn" class="lobby-leave">Leave Room</button>

      <!-- Color picker -->
      <div class="color-boxes">
        <div class="color-box white" data-color="#FFFFFF"></div>
        <div class="color-box light-gray" data-color="#C1C1C1"></div>
        <div class="color-box red" data-color="#EF130B"></div>
        <div class="color-box orange" data-color="#FF7100"></div>
        <div class="color-box yellow" data-color="#FFE400"></div>
        <div class="color-box green" data-color="#00CC00"></div>
        <div class="color-box mint" data-color="#00FF91"></div>
        <div class="color-box skyblue" data-color="#00B2FF"></div>
        <div class="color-box seablue" data-color="#231FD3"></div>
        <div class="color-box purple" data-color="#A300BA"></div>
        <div class="color-box pink" data-color="#DF69A7"></div>
        <div class="color-box beige" data-color="#FFAC8E"></div>
        <div class="color-box brown" data-color="#A0522D"></div>
      </div>
    </div>
  </div>
  <div id="room-messages">
    <div class="messages" id="messages"></div>
    <div class="inputs">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
      />
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  function scrollToBottom() {
    messages.scrollTop = messages.scrollHeight;
  }

  const createMessage = (name, msg) => {
    const content = `
        <div class="text">
          <span>
            <strong>${name}</strong>{% if name %}:{%endif%} ${msg}
          </span>
        </div>
      `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
    scrollToBottom();
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  // Handle the leave button click
  const leaveRoomBtn = document.getElementById("leave-room-btn");
  leaveRoomBtn.addEventListener("click", function () {
    // Emit the "leave_room" event to the server with the room code
    socketio.emit("leave_room", { room: roomCode });

    // Redirect to the lobby page
    window.location.href = "/";
  });

  const canvas = document.getElementById("drawing-board");
  const context = canvas.getContext("2d");
  let isDrawing = false;
  let isErasing = false;
  let lineWidth = 3;
  let lineColor = "#000000"; // Default color
  let localLastX, localLastY;

  const roomHeader = document.getElementById("room-header");
  // Extract the room code by splitting the text
  const roomCode = roomHeader.textContent.split(": ")[1];
  console.log(`The room code is: ${roomCode}`);

  canvas.addEventListener("mousedown", startDrawing);
  canvas.addEventListener("mousemove", draw);
  canvas.addEventListener("mouseup", stopDrawing);
  canvas.addEventListener("mouseleave", stopDrawing);
  var inputField = document.getElementById("message");

  inputField.addEventListener("keypress", function (event) {
    if (event.keyCode === 13) {
      sendMessage();
    }
  });

  function setCanvasWhiteBackground() {
    // Set the fill style to white
    context.fillStyle = "#FFFFFF";
    // Draw a filled rectangle covering the entire canvas
    context.fillRect(0, 0, canvas.width, canvas.height);
  }
  // Call this function when the canvas is first loaded to initialize the background
  setCanvasWhiteBackground();

  // Change line color
  $("#color-picker").on("change", function () {
    const color = $(this).val();
    socketio.emit("change_color", { color: color, socket_id: socketio.id }); // Send color change event with socket ID
  });

  // Change line width
  $("#line-width").on("change", function () {
    const width = $(this).val();
    socketio.emit("change_width", { width: width, socket_id: socketio.id }); // Send width change event with socket ID
  });

  socketio.on("change_color", function (data) {
    // Handle line color change event
    const color = data.color;
    const socketId = data.socket_id;
    if (socketId === socketio.id) {
      // Update line color
      lineColor = color;
    }
  });

  socketio.on("change_width", function (data) {
    // Handle line width change event
    const width = data.width;
    const socketId = data.socket_id;
    if (socketId === socketio.id) {
      // Update line width
      lineWidth = width;
    }
  });

  // Toggle eraser
  $("#eraser-toggle").on("change", function () {
    isErasing = $(this).is(":checked");
    socketio.emit("toggle_eraser", { isErasing: isErasing });
  });

  function startDrawing(event) {
    isDrawing = true;
    localLastX = undefined; // Reset last point tracking
    localLastY = undefined; // Reset last point tracking
    socketio.emit("start_line", { room: roomCode });
    context.beginPath(); // Start a new path
    draw(event);
  }

  socketio.on("start_line", function () {
    // Reset the last drawing points to undefined for received data
    lastX = undefined;
    lastY = undefined;
  });

  function draw(event) {
    if (!isDrawing) return;

    const x = event.clientX - canvas.offsetLeft;
    const y = event.clientY - canvas.offsetTop;

    if (localLastX === undefined || localLastY === undefined) {
      context.moveTo(x, y); // Start a new path from this point
    }

    context.strokeStyle = isErasing ? "#FFFFFF" : lineColor;
    context.lineWidth = isErasing ? lineWidth * 5 : lineWidth;
    context.lineCap = "round";

    context.lineTo(x, y);
    context.stroke();

    localLastX = x;
    localLastY = y;

    // Emit draw data to the server
    socketio.emit("draw", {
      x,
      y,
      isErasing,
      lineColor,
      lineWidth,
      room: roomCode,
    });
  }

  function stopDrawing() {
    isDrawing = false;
    //context.beginPath();
    localLastX = undefined; // Reset last point tracking
    localLastY = undefined; // Reset last point tracking
  }

  socketio.on("draw", function (data) {
    drawOnCanvas(data);
  });

  let lastX, lastY; // Track the previous point coordinates
  function drawOnCanvas(data) {
    if (lastX === undefined || lastY === undefined) {
      lastX = data.x;
      lastY = data.y;
      context.beginPath(); // Start a new path for each draw action
      context.moveTo(lastX, lastY); // Move to the initial point
    }

    context.strokeStyle = data.isErasing ? "#FFFFFF" : data.lineColor;
    context.lineWidth = data.isErasing ? data.lineWidth * 5 : data.lineWidth;
    context.lineCap = "round";

    context.lineTo(data.x, data.y); // Draw a single point to prevent connecting lines
    context.stroke();

    lastX = data.x;
    lastY = data.y;
  }

  // Handle line color change event
  $("#color-picker").on("change", function () {
    lineColor = $(this).val();
  });

  //Handle line color change event for color boxes
  $(".color-box").on("click", function () {
    lineColor = $(this).attr("data-color");
  });

  // Handle line width change event
  $("#line-width").on("change", function () {
    lineWidth = $(this).val();
  });

  const downloadBtn = document.getElementById("download-btn");

  function uploadCanvasDataUrl() {
    // Convert the canvas to a Base64-encoded image URL
    const dataUrl = canvas.toDataURL("image/png");

    // Send the data URL to the server via JSON data
    fetch("/upload_canvas_url", {
      method: "POST",
      body: JSON.stringify({ data_url: dataUrl }),
      headers: { "Content-Type": "application/json" },
      credentials: "include", // Send session cookies
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          alert("Data URL stored successfully.");
        } else {
          alert("Error: " + data.error);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  downloadBtn.addEventListener("click", function () {
    uploadCanvasDataUrl();
  });
</script>

{% for msg in messages %}
<script type="text/javascript">
  // Create a new message element and append it to the chat box
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
